<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="client" class="ua.dp.mign.model.Client">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="fullName" value="John Smith"/>
    </bean>

    <bean id="eventLogger" class="ua.dp.mign.service.ConsoleEventLogger"/>

    <bean id="app" class="ua.dp.mign.App">
        <constructor-arg name="client" ref="client"/>
        <constructor-arg name="eventLogger" ref="eventLogger"/>
    </bean>

</beans>