<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="client" class="ua.dp.mign.model.Client">
        <constructor-arg value="${id}"/>
        <constructor-arg value="${name}"/>

        <property name="greeting" value="${greeting}"/>
    </bean>

    <bean id="consoleLogger" class="ua.dp.mign.service.ConsoleEventLogger"/>
    <bean id="fileLogger" class="ua.dp.mign.service.FileEventLogger" init-method="init">
        <constructor-arg value="app.log"/>
    </bean>
    <bean id="bufferedFileLogger" class="ua.dp.mign.service.BufferedEventLogger" destroy-method="destroy">
        <constructor-arg value="3"/>
        <constructor-arg ref="fileLogger"/>
    </bean>
    <bean id="combinedLogger" class="ua.dp.mign.service.CombinedEventLogger">
        <constructor-arg>
            <list>
                <ref bean="consoleLogger"/>
                <ref bean="fileLogger"/>
            </list>
        </constructor-arg>
    </bean>

    <util:map id="typedLoggersMap">
        <entry key="INFO" value-ref="consoleLogger"/>
        <entry key="ERROR" value-ref="combinedLogger"/>
    </util:map>

    <alias alias="defaultEventLogger" name="bufferedFileLogger"/>
    <bean id="app" class="ua.dp.mign.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="defaultEventLogger"/>
        <constructor-arg ref="typedLoggersMap"/>

        <lookup-method name="getEvent" bean="event"/>
    </bean>

    <bean id="event" class="ua.dp.mign.model.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>

        <property name="ignoreResourceNotFound" value="true"/>
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE"/>
        </property>
    </bean>

</beans>