<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="client" class="ua.dp.mign.model.Client">
        <constructor-arg name="id" value="1"/>
        <constructor-arg name="fullName" value="John Smith"/>
    </bean>

    <bean id="consoleLogger" class="ua.dp.mign.service.ConsoleEventLogger"/>
    <bean id="fileLogger" class="ua.dp.mign.service.FileEventLogger" init-method="init">
        <constructor-arg value="app.log"/>
    </bean>
    <bean id="bufferedFileLogger" class="ua.dp.mign.service.BufferedEventLogger" destroy-method="destroy">
        <constructor-arg value="3"/>
        <constructor-arg ref="fileLogger"/>
    </bean>

    <alias alias="eventLogger" name="bufferedFileLogger"/>
    <bean id="app" class="ua.dp.mign.App">
        <constructor-arg name="client" ref="client"/>
        <constructor-arg name="eventLogger" ref="eventLogger"/>

        <lookup-method name="getEvent" bean="event"/>
    </bean>

    <bean id="event" class="ua.dp.mign.model.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

</beans>